#login{
    margin-top: 50px;
    width: 40%;
    height: 430px;
    margin-left: 30%;
    background-color: #131F39;
}
h3{
    margin-top: 20px;
    text-align: center;
    color: #FD6420;
}
.border-all{
    margin-top: 20px;
    border-radius: 20px 20px 20px 20px;
}
input[type="email"]{
    margin-left: 20%;
    height: 45px;
    width: 60%;
    float: left;
    background-color: #131F39;
}
input[type="password"]{
    margin-left: 20%;
    height: 45px;
    width: 60%;
    float: left;
    background-color: #131F39;
}
input[type="submit"]{
    margin-top: 1px;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 20%;
    height: 45px;
    width: 60%;
    color: white;
    float: left;
}
input[type="checkbox"]{
    margin-top: 15px;
    margin-left: 23%;
    float: left;
}
#span{
    margin-left: 2%;
    margin-top: 8px;
    float: left;
    color: white;
}
p{
    float: left;
    color: white;
}
.b{
    color: white;
    margin-left: 20%;
    width: 25%;
    height: 35px;
    font-size: 13px;
    background-color: #3B5999;
}
#fb{
    margin-left: 5%;
    float: left;
    width: 20px;
    height: 20px;
}
.but{
    font-size: 12px;
    color: white;
    margin-left: 5%;
    width: 28%;
    height: 35px;
    background-color:#DC4B38; 
}
#lo span{
    margin-left: 20%;
    color: white;
}
#lo button{
    font-size: 15px;
    color: white;
    height: 35%;
    margin-left: 12%;
    width: 20%;
}