#form{
    margin-top: 50px;
    width: 80%;
    height: 600px;
    margin-left: 10%;
    background-color: #131F39;
}
#left_form{
    margin-top: 50px;
    width: 50%;
    height: 400px;
}
label{
    color: white;
    display: block;
    width: 40%;
    float: left;
    font-size: 16px;
    margin-top: 30px;
}
input[type="text"]{
    height: 45px;
    width: 60%;
    float: left;
    background-color: #131F39;
}
input[type="password"]{
    height: 45px;
    width: 60%;
    float: left;
    background-color: #131F39;
}
input[type="email"]{
    height: 45px;
    width: 60%;
    float: left;
    background-color: #131F39;
}
input[type="submit"]{
    margin-top: 30px;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 40%;
    height: 45px;
    width: 60%;
    color: white;
    background-color: #F15F23;;
    float: left;
}
h3{
    text-align: center;
    color: #FD6420;
}
h5{
    text-align: center;
    color: #FD6420;
}
.border-all{
    margin-top: 20px;
    border-radius: 20px 20px 20px 20px;
}

#line{
    width: 1px;
    height: 72vh;
    background-color: white;
    float: left;
}
#right_form{
    margin-top: 50px;
    width: 50%;
    height: 400px;
}
h6{
    margin-top: 50px;
    text-align: center;
    color: white;
}
.b{
    color: white;
    margin-top: 10%;
    margin-left: 30%;
    width: 30%;
    height: 45px;
    background-color: #3B5999;
}
.bu{
    color: white;
    margin-top: 10%;
    margin-left: 30%;
    width: 30%;
    height: 45px;
    background-color: #1DA1F3;
}
.but{
    color: white;
    margin-top: 10%;
    margin-left: 30%;
    width: 30%;
    height: 45px;
    background-color:#DC4B38; 
}
.butt{
    color: white;
    margin-top: 10%;
    margin-left: 30%;
    width: 30%;
    height: 45px;
    background-color: #0077B7;
}
#right_form button:hover
{
background-color:yellow;
transition-duration:3s; 
}
#fb{
    margin-left: 5%;
    float: left;
    width: 20px;
    height: 20px;
}
input{
    color: white;
}
#mar{
    margin-top: 30px;
}